@import "tailwindcss";
:root {
  --skin-color: #ec1839;
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

/* Your custom styles */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-100);
}

.home .home-img {
  max-width: 40%;
  position: relative;
  padding-left: 100px;
  flex: 0 0 40%;
}

@media (max-width: 991px) {
  .home .home-img {
    display: none;
  }
}